/* footer */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
}

footer p {
    color: var(--light-color);
}

.fa-apple {
    position: relative;
    bottom: 1px;
}

footer a {
    color: var(--dark-color);
    position: fixed;
    right: 20px;
    bottom: 20px;
    font-size: 1rem;
    border: 2px solid var(--dark-color);
    border-radius: 50px;
}

.fa-angle-up {
    padding: 10px 12px;
}
