footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    background-color: var(--dark-color);
}

footer p {
    color: var(--light-color);
    font-size: 1rem;
}

.copyright {
    padding-left: 8rem;
}

.made-with {
    padding-right: 8rem;
}

.fa-apple {
    position: relative;
    bottom: 0.1rem;
}

footer a {
    color: var(--dark-color);
    position: fixed;
    right: 2%;
    bottom: 2rem;
    font-size: 2rem;
    border: 0.2rem solid var(--dark-color);
    border-radius: 5rem;
}

.fa-angle-up {
    padding: 1rem 1.2rem;
}