/* projects */
.projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-header h3 {
    font-size: 2rem;
    font-weight: 300;
    color: var(--dark-color);
    padding: 0.2rem 0.3rem 0.2rem 0.8rem;
    background-color: var(--secondary-color);
    letter-spacing: 0.5rem;
}

.projects-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
}

.project-card {
    width: 35rem;
    max-width: 100%;
}

.img-box {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.project-img {
    width: 100%;
}

.logo-box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 2rem;
}

.project-text {
    text-align: center;
}

.project-text h3 {
    font-size: 1.8rem;
    font-weight: 300;
    color: var(--light-color);
    margin-bottom: 1rem;
}

.project-btn {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.project-btn a {
    padding: 1rem 1.5rem;
    background-color: var(--secondary-color);
    color: var(--dark-color);
    font-size: 1.4rem;
    font-weight: 300;
    border-radius: 0.2rem;
    text-transform: uppercase;
}

.project-btn a:last-child {
    background-color: var(--dark-color);
    color: var(--light-color);
}

.project-btn a:last-child:hover {
    background-color: var(--dark-color-hover);
}

.project-btn a:hover {
    background-color: var(--secondary-color-hover);
}
