/* color */
:root {
  /* page colors */
  --background-color: #313d49;
  --secondary-color: #06d6a0;
  --dark-color: #181c22;
  --light-color: #fff;

  /* skills colors */
  --html: #ff5733;
  --css: #264de4;
  --js: #f0db4f;
}

/* font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

/* basic css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Roboto", sans-serif;
  min-width: 370px;
  background-color: var(--background-color);
}

/* css reset */
a {
  text-decoration: none;
  color: var(--secondary-color);
}

ul {
  list-style: none;
}

/* page wrapper */
.wrapper {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 5rem;
}

/* page margin */
.margin-top {
  margin-top: 3rem;
}

.margin-bottom {
  margin-bottom: 3rem;
}

/* header */
header {
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 2rem;
  font-weight: 600;
}

nav {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  gap: 2rem;
}

nav ul li a {
  font-size: 1.3rem;
  padding: 0.5rem;
}

/* hero */
.hero-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.img-container img {
  width: 20rem;
  max-width: 100%;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--light-color);
}

.hero-text h1 {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.hero-text h2 {
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.hero-text p {
  font-size: 1.1rem;
  margin-bottom: 1rem;
  max-width: 30rem;
}

.hero-contact li {
  display: flex;
  gap: 1rem;
}

.hexagon-container {
  position: relative;
}

.hexagon-container .fa-github,
.hexagon-container .fa-linkedin,
.hexagon-container .cv {
  position: absolute;
  color: var(--light-color);
  font-size: 2rem;
  transform: translate(-50%, -50%);
  top: 47%;
  left: 49%;
}

.hexagon-container .cv {
  font-weight: 700;
  font-size: 1.8rem;
}

.hexagon-container .hexagon {
  height: 4rem;
}

/* skills */
.skills-container {
  display: flex;
  justify-content: center;
}

.skills-header h3 {
  font-size: 2rem;
  font-weight: 600;
  color: var(--dark-color);
  padding: 0.2rem 0.8rem;
  background-color: var(--secondary-color);
  letter-spacing: 5px;
}

/* projects */
.projects-container {
  display: flex;
  justify-content: center;
}

.projects-header h3 {
  font-size: 2rem;
  font-weight: 600;
  color: var(--dark-color);
  padding: 0.2rem 0.8rem;
  background-color: var(--secondary-color);
  letter-spacing: 5px;
}

/* contact */
.contact-container {
  display: flex;
  justify-content: center;
}

.contact-header h3 {
  font-size: 2rem;
  font-weight: 600;
  color: var(--dark-color);
  padding: 0.2rem 0.8rem;
  background-color: var(--secondary-color);
  letter-spacing: 5px;
}

/* footer */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
}

footer p {
  color: var(--light-color);
}

.fa-apple {
  position: relative;
  bottom: 1px;
}

footer a {
  color: var(--dark-color);
  position: fixed;
  right: 20px;
  bottom: 20px;
  font-size: 1rem;
  border: 2px solid var(--dark-color);
  border-radius: 50px;
}

.fa-angle-up {
  padding: 10px 12px;
}
