/* page wrapper */
.wrapper {
  background-color: var(--background-color);
  min-width: 370px;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 5rem;
}

/* header */
header {
  display: flex;
  justify-content: space-between;
}

.logo img {
  height: 5rem;
}

nav {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  gap: 2rem;
}

nav ul li a {
  font-size: 1.3rem;
  padding: 0.5rem;
  text-transform: uppercase;
  font-weight: 300;
}

nav ul li a::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background-color: var(--secondary-color);
  position: relative;
  left: 5px;
  top: 2px;
  transition: width 0.3s;
}

nav ul li a:hover::after {
  width: calc(100% - 5px);
}

/* hero */
.hero-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.img-container img {
  width: 30rem;
  max-width: 100%;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--light-color);
  max-width: 50%;
}

.hero-text h1 {
  font-size: 3.2rem;
  letter-spacing: 0.6rem;
  font-weight: 700;
}

.hero-text h2 {
  font-size: 2rem;
  font-weight: 400;
}

.hero-text p {
  font-size: 1.4rem;
  line-height: 2.3rem;
  font-weight: 300;
}

.hero-contact li {
  display: flex;
  gap: 2rem;
}

.hexagon-container {
  position: relative;
}

.hexagon-container .fa-github,
.hexagon-container .fa-linkedin,
.hexagon-container .cv {
  position: absolute;
  color: var(--light-color);
  font-size: 2rem;
  transform: translate(-50%, -50%);
  top: 47%;
  left: 49%;
}

.hexagon-container:hover .fa-github,
.hexagon-container:hover .fa-linkedin,
.hexagon-container:hover .cv {
  color: var(--dark-color);
  transition: 0.3s;
}

.hexagon-container .cv {
  font-weight: 700;
  font-size: 1.8rem;
}

.hexagon-container .hexagon {
  height: 4rem;
}

/* projects */
.projects-container {
  display: flex;
  justify-content: center;
}

.projects-header h3 {
  font-size: 2rem;
  font-weight: 300;
  color: var(--dark-color);
  padding: 0.2rem 0.3rem 0.2rem 0.8rem;
  background-color: var(--secondary-color);
  letter-spacing: 5px;
}

/* contact */
.contact-container {
  display: flex;
  justify-content: center;
}

.contact-header h3 {
  font-size: 2rem;
  font-weight: 300;
  color: var(--dark-color);
  padding: 0.2rem 0.3rem 0.2rem 0.8rem;
  background-color: var(--secondary-color);
  letter-spacing: 5px;
}

/* footer */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
}

footer p {
  color: var(--light-color);
}

.fa-apple {
  position: relative;
  bottom: 1px;
}

footer a {
  color: var(--dark-color);
  position: fixed;
  right: 20px;
  bottom: 20px;
  font-size: 1rem;
  border: 2px solid var(--dark-color);
  border-radius: 50px;
}

.fa-angle-up {
  padding: 10px 12px;
}