/* ===== VARIABLES ===== */

/* color */
:root {
    /* page colors */
    --background-color: #313d49;
    --secondary-color: #06d6a0;
    --secondary-color-hover: #0b9e7a;
    --dark-color: #181c22;
    --dark-color-hover: #212730;
    --light-color: #fff;
}

/* ===== RESET ===== */

/* basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* link reset */
a {
    text-decoration: none;
    color: var(--secondary-color);
}

/* list reset */
ul {
    list-style: none;
}

/* basic font, size*/
html {
    font-family: "Montserrat", sans-serif;
    font-size: 62.5%;
}

::selection {
    background-color: var(--secondary-color);
    color: var(--light-color);
}

/* ===== HEXAGON ===== */

/* small */
.hex-s {
    width: 5rem;
    filter: blur(5px);
    opacity: 25%;
    user-select: none;
}

/* medium */
.hex-m {
    width: 10rem;
    filter: blur(5px);
    opacity: 25%;
    user-select: none;
}

/* big */
.hex-b {
    width: 15rem;
    filter: blur(8px);
    opacity: 25%;
    user-select: none;
}

/* ===== MARGIN ===== */

/* top */
.mt-3 {
    margin-top: 3rem;
}

/* bottom */
.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mb-3 {
    margin-bottom: 3rem;
}

.mb-7 {
    margin-bottom: 7rem;
}

/* ===== PADDING ===== */

/* top */

.pt-9 {
    padding-top: 9rem;
}

/* bottom */
.pb-5 {
    padding-bottom: 5rem;
}

.pb-9 {
    padding-bottom: 9rem;
}
